<div class='mt-4'>
</div>
<footer class="footer fixed-bottom">
      <div class="container text-center">
        <span class="text-muted mt-5">Paul Garrod | 2020 | 
			<a class='ml-2' href='www.paulgarrod.dev' alt='Paul Garrod Portfolio Website'><i class="fas fa-laptop"></i></a>
			<a class='ml-2' href='https://www.linkedin.com/in/paulgarrod/' alt='Paul Garrod LinkedIn profile'><i class="fab fa-linkedin"></i></a> 
			<a class='ml-2' href='https://github.com/PaulGarrod' alt='Paul Garrod GitHub profile'><i class="fab fa-github-square"></i></a> 
			<a class='ml-2' href='https://twitter.com/PaulCoding' alt='Paul Garrod Twtter profile'><i class="fab fa-twitter-square"></i></a> 

		  </span>
      </div>
</footer>	


</body>
</html>